<p>Die Bedingungen dieser Kategorie sind <strong><%= @fullfilled_string %>.</strong><br>
Es werden momentan <%= @credits_earned %> von <%= @credits_needed %> Credits sowie <%= @modules_earned %> von <%= @modules_needed %> erforderlichen Modulen eingebracht.</p>

<% if @child_rules != nil && @child_rules.length > 0 %>

<p>In diesem Bereich müssen noch folgende Unterbereiche erfüllt werden:</p>
<ul>
  <% @child_rules.each do |child| %>
  <li><%= child %></li>
  <% end %>
</ul>

<% end %>

<%# unless @fullfilled || @child_rules.length > 0 %>
<% unless @fullfilled %>
<p>Um in diesem Bereich alle Bedingungen zu erfüllen, müssen Sie folglich noch
<%= @modules_needed - @modules_earned %> Module sowie
<%= @credits_needed - @credits_earned %> Credits erbringen.</p>

<p>Zur Erfüllung dieser Bedingungen kann aus den folgenden, noch nicht absolvierten Modulen gewählt werden:
<ul>
<% @available_modules.each do |m| %>
  <li>
    <%= m.name %> (<%= m.short %>)
  </li>
<% end %>
</ul></p>
<% end %>

<p>Bitte beachten Sie:
	<ul>
		<!-- ><li>Sollte hier ein Modul fehlen, so wurde dieses wahrscheinlich schon für eine andere Kategorie berücksichtigt.</li>
		<li>Bitte auch immer überprüfen, ob alle Module gültig eingebracht werden können, oder ob noch Voraussetzungen zu erfüllen sind!</li> -->
		<li>Module werden für diese Kategorie nicht mehr angezeigt, wenn sie bereits in eine andere Kategorie eingebracht werden.</li>
		<li>Module werden nur für die Auswertung dieser Kategorie einbrechnet, falls ihre Voraussetzungen erfüllt sind (d.h. günes oder gelbes Modul-Info-Symbol)</li>
	</ul>
</p>
