<div class='modul-info'>
  <h2>Bereich: <%= @regel.name %></h2>
  <p class='description'><%= @regel.description %></p>

  <h3>Anforderungen dieses Bereiches</h3>
  <p>
    <%= @regel.get_status_description_string_for_printing(@mods, @errors) %>
  </p>

  <% if !@fullfilled %>
    <h3>Problematik</h3>

    <% if @regel.removed_too_many_grades? @mods %>
      <p>
        Es sind zu viele Noten gestrichen worden!
      </p>
    <% end %>

    <% if @child_rules != nil && @child_rules.length > 0 %>

      <p>
        In diesem Bereich müssen noch folgende Unterbereiche erfüllt werden:</p>
      <ul>
        <% @child_rules.each do |child| %>
          <li><%= child %></li>
        <% end %>
      </ul>

    <% end %>

    <% if (@child_rules == nil || @child_rules.length == 0) %>

      <p>
        Um die Anforderungen in diesem Bereich zu erfüllen, müssen Sie noch

        <%= [@regel.modules_needed - @regel.collected_modules(@mods), 0].max %> Module sowie
        <%= [@regel.credits_needed - @credits_earned, 0].max %> Credits erbringen.</p>

      <% if @available_modules.length > 0 %>
        <p>
          Zur Erfüllung dieser Bedingungen kann aus den folgenden Modulen gewählt werden:
        <ul>
          <% @available_modules.each do |m| %>
            <li>
              <%= m.name %> (<%= m.short %>)
            </li>
          <% end %>
        </ul>
      </p>
    <% end %>

  <% end %>
<% end %>
<% if @relevant_modules_in_selection.length > 0 %>
  <p>
    Es werden bereits folgende Module eingebracht:
  <ul>
    <% @relevant_modules_in_selection.each do |mod| %>
      <li>
        <%= mod.name %> (<%= mod.short %>)
      </li>
    <% end %>
  </ul>
  </p>
<% end %>
<h3>Anmerkungen zur Auswertung</h3>
<p>Bitte beachten Sie:
<ul>
  <li>Module werden für diese Kategorie nicht mehr angezeigt, wenn sie bereits in eine andere Kategorie eingebracht werden.</li>
  <li>Module werden nur für die Auswertung dieser Kategorie einbrechnet, falls ihre Voraussetzungen erfüllt sind (d.h. günes oder gelbes Modul-Info-Symbol)</li>
</ul>
</p>
</div>
