<div class='modul-info'>
  <h1><%= @name %></h1>
  <p class='description'><%= @description %></p>
  <p class='short'>Kurzbezeichnung: <%= @short %></p>
  <p class='credits'>Credits: <%= @credits %></p>
  <% if @univz_link != nil %>
    <p class="univz">UniVZ-Link: <a href="<%= @univz_link %>" target="_blank"><%= @name %></a></p>
  <% end %>

  <% unless @permission == nil %>
    <p>Voraussetzungen:
    <ul>
      <%= permission_tree @permission %>
    </ul></p>
<% end %>
</div>
<div id="has_grade" style="display:none;"><%= @has_grade %></div>
<div id="has_warning" style="display: none;"><%= @has_warning %></div>
<div id="custom_credits" style="display: none;"><%= @custom_credits %></div>