<div class='modul-info'>
  <h1><%= @name %></h1>
  <p class='description'><%= @description %></p>
  <p class='short'>Kurzbezeichnung: <%= @short %></p>
  <p class='credits'>Credits: <%= @credits %></p>

  <% unless @permission == nil %>
  <p>Voraussetzungen:
  <ul>
  <%= permission_tree @permission %>
  </ul></p>
  <% end %>
</div>