<div class='modul-info'>
  <h1><%= @name %></h1>
  <p class='description'><%= @description %></p>
  <p class='short'>Kurzbezeichnung: <%= @short %></p>
  <p class='credits'>Credits: <%= @credits %></p>
  <% if @univz_link != nil %>
    <p class="univz">Externe Links: <a href="<%= @univz_link %>" target="_blank">Suche nach Modul in UniVZ</a></p>
  <% end %>

  <!-- Der folgene Teil ist natürlich noch nicht fertig, Dummy-Module fehlen (OS) -->
  <% if @custom %>
    <p>Dieses Modul wird in folgende Bereiche eingebracht:
    <ul>
      <% @categories.each do |category| %>
        <li>
          <%= category %>
        </li>
      <% end %>
    </ul>
  </p>
  <%#*<div id="custom_credits" style="display: none;">%>
  <%#= @custom_credits %>
  <%#*</div>%>
<% else %>
  <% if @categories.length == 1 %>
    <p>Dieses Modul wird in folgendem Bereich eingebracht: <%= @categories.collect {|p| p.name+" "} %></p>
  <% elsif @categories.length > 1%>
    <p>Dieses Modul kann in mehrere Bereiche eingebracht werden - die entsprechende Auswahl können sie direkt unter dem Modul-Titel vornehmen.</p>
  <% end %>
<% end %>

<% if @focus != nil && @focus.contains_module?(@module) %>
    <p><strong>Dieses Modul wird auch für den von Ihnen gewählten Schwerpunkt eingebracht.</strong></p>
<% end %>
<% unless @permission == nil %>
  <p>Voraussetzungen:
  <ul>
    <%= permission_tree @permission %>
  </ul></p>
<% end %>
</div>
