<div class='modul-info'>
  <h3><%= @name %></h3>
  <p class='description'><%= @description %></p>
  <!-- <p class='short'>Kurzbezeichnung: <%= @short %></p>
    <p class='credits'>Credits: <%= @credits %></p> -->

  <!-- Der folgene Teil ist natürlich noch nicht fertig, Dummy-Module fehlen (OS) -->
  <% if @custom %>
    <p>Dieses Modul wird in folgende Bereiche eingebracht:
    <ul>
      <% @categories.each do |category| %>
        <li>
          <%= category %>
        </li>
      <% end %>
    </ul>
  </p>
  <%#*<div id="custom_credits" style="display: none;">%>
  <%#= @custom_credits %>
  <%#*</div>%>
  <% else %>
    <% if @categories.length == 1 %>
      <p>Dieses Modul wird in folgendem Bereich eingebracht: <b><%= @categories.collect {|p| p.name+" "} %></b></p>
    <% elsif @categories.length > 1%>
      <p>Dieses Modul <b>kann in mehrere Bereiche eingebracht werden</b>. Die entsprechende Auswahl können sie direkt unter dem Modul-Titel vornehmen.</p>
    <% end %>
  <% end %>

  <% if @focus != nil && @focus.contains_module?(@module) %>
      <p>Dieses Modul ist auch Teil des von Ihnen gewählten <b>Schwerpunktes</b>.</p>
  <% end %>
  <% unless @permission == nil %>
    <div class="alert alert-info" id="box_module_info_requirements">
      Dieses Modul hat folgende <b>Voraussetzungen</b>:
      <ul><%= permission_tree @permission %></ul>
    </div>
  <% end %>

  <table>
    <tbody>
      <tr><td colspan="2"><b>Modul-Daten</b></td></tr>
      <td>Kurzbezeichnung</td><td><%= @short %></td>
      </tr><tr>
        <td>ETCS-Credits</td><td><%= @credits %></td>
      </tr>
      <% if @univzid != nil %>
        <tr>
          <td>UniVZ-Link</td>
          <td><%= link_to "Suche nach Modul in UniVZ", univz_url(@univzid,@short), :target => "_blank" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
