<h1>Regel <%= @rule.id %></h1>
<% form_for :rule, @rule, :url => {:action => "save_rule", :id => @rule.id} do |r| %>
<p>
  Name:<br />
  <%= r.text_field :name %>
</p>
<p>
  Regel:<br />
  <table>
    <tr>
      <td>Relation</td>
      <td>Anzahl</td>
      <td>Bezugsgröße</td>
      <td></td>
      <td>Gruppen</td>
    </tr>
    <tr>
      <td>
        <%= r.select :relation, [["mindestens", "min"], ["maximal", "max"]] %>
      </td>
      <td>
        <%= r.text_field :count %>
      </td>
      <td>
        <%= r.select :type, [["Credits", "CreditRule"], ["Module", "ModuleRule"]] %>
      </td>
      <td>
        aus
      </td>
      <td>
        <%= swapselect :rule, @rule, :groups, Group.all.map { |g| [g.name, g.id] } %>
      </td>
    </tr>
  </table>
</p>
<%= r.submit "Speichern" %>
<%= link_to "Abbrechen", :action => "rules" %>
<% end %>