<h1>Gruppe <%= @group.id %></h1>

<% form_for :group, @group, :url => {:action => "save_group", :id => @group.id} do |g| %>

<p>
  Name:<br/>
  <%= g.text_field :name %>
</p>
<p>Module:</p>
    <%= swapselect :group, @group, :module, Studmodule.all.map { |m| [m.name, m.id] } %>


<p>
  <%= g.submit "Speichern" %>
</p>
<p>
  <%= link_to "Abbrechen", :action => "groups" %>
</p>

<% end %>