<h1>Gruppen</h1>
<p>
  <%= flash[:notice] %>
</p>
<table>
  <tr>
    <th>Gruppen-ID</th>
    <th>Gruppenname</th>
    <th>Anzahl Module</th>
  </tr>
  <% @groups.each do |g| %>
  <tr>
    <td>
      <%= g.id %>
    </td>
    <td>
      <%= g.name %>
    </td>
    <td>
      <%= g.modules.length %>
    </td>
    <td>
      <%= link_to "Bearbeiten", :action => "edit_group", :id => g.id %>
    </td>
    <td>
      <%= link_to "Löschen", :action => "delete_group", :id => g.id %>
    </td>
  </tr>
  <% end %>
</table>
<%= link_to "Neue Gruppe", :action => "edit_group" %>
