<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
        <head>


                <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
                <title>Modulmanager</title>
				
                <%= stylesheet_link_tag 'global' %>
				<%= stylesheet_link_tag 'pool' %>
				<%= stylesheet_link_tag 'auswahl' %>
				<%= stylesheet_link_tag 'ueberblick' %>
				<%= stylesheet_link_tag 'thickbox' %>
				
                <script type="text/javascript" src="javascripts/jquery-1.3.2.min.js"> </script>
				<script type="text/javascript" src="javascripts/jquery-ui-1.7.2.custom.min.js"></script>
				<script type="text/javascript" src="javascripts/global_javascript.js"></script>
			
				<!--<script type="text/javascript" src="javascripts/ueberblick.js"></script>-->
				<script type="text/javascript" src="javascripts/auswahleffect.js"></script>
				<script type="text/javascript" src="javascripts/pooleffect.js"></script>
				<script type="text/javascript" src="javascripts/thickbox.js"></script>
				
				
      	
				
				
				
				
				
		</head>
        <body>

				
                <div id="container">

                      
                        <div id="subnavi">

                                <ul id="subnavi-ul">
                                        <li id="return">Zur&uuml;ck</li>
										<li id="help">Hilfe</li>
                                        <li id="finish">Fertig</li>
                                        <div class="clear"></div>
                                </ul>

                        </div>

                <!---CONTENT------------------>

                        <div id="content">
                                <div id="left">
                                	<h3>&Uuml;berblick:</h3>
									<div id="ueberblick"></div>
									
								
								</div>

                                <!--middle-->

                                <div id="middle">

                                  <div id="semester-content">
                                  	<!--<div class="semester" id="1">
                                  		<h5>1.Semester</h5>
                                  		<span class="leer" style="display:none">(leer)</span>
                                  	</div>
                                  		
                                  	<div class="semester" id="2">
                                  		<h5>2.semester</h5>
                                  		<span class="leer" style="display:none">(leer)</span>
                                  	</div>
									
									<div class="semester" id="3">
										<h5>3.semester</h5>
                                  		<span class="leer" style="display:none">(leer)</span>
                                  	</div>
                                  		
                                    <div class="semester" id="4">
                                    	<h5>4.semester</h5>
                                  		<span class="leer" style="display:none">(leer)</span>
                                  	</div> 
									  
									<div class="semester" id="5">
										<h5>5.semester</h5>
                                  		<span class="leer" style="display:none">(leer)</span>
                                  	</div>
									
									<div class="semester" id="6">
										<h5>6.semester</h5>
                                  		<span class="leer" style="display:none">(leer)</span>
                                  	</div>-->
									 
								  </div>
                 				  <button id="semesterhinzu" onClick="javascript:sem_hinzu();"> Semester hinzuf&uuml;gen</button>
                                  
                                 

                                </div><!--End middle-->

                                <!--RIGHT****************************************************-->

                                <div id="right">
                                        <div class="clear">
                                       <!-- <div id="subright">
                                                M&ouml;gliche Module:<br>
                                                <div id="subright-navi">
                                                        <p id="livesearch">Live suche...</p>
                                                        <div class="clear"></div>
                                                        <ul id="subright-ul">
                                                                <li>Alle</li>
                                                                <li>Theorie</li>

                                                        </ul>
                                                        <div class="clear"></div>
                                                </div>-->
										<!--End subright-navi -->
										
												
											   <!--hier ist POOL ************************************-->
											   
											    <div id="subright-content">
                                                		
														<div id="pool">
															
															
														</div>
														
														
													<script>
                                                          pool();
                                                	</script>
                                               
                                           		</div><!--subright-->

                                </div><!--right-->



                        </div><!--END content------------------------------------------------------------------------------->

                        <div class="clear"></div>




                </div><!--END container-->
                <div class="clear"></div>
                <br/><br/>
                <!--<div id="footer">
                                footer
                </div>-->

               
               </div><!--subright-content-->

				   
      			

        </body>
</html>


