	


<!--<table id="search_table" style="border:1px solid black"></table>-->



<div id="container">


  <div id="subnavi">
    <!-- <h1>ModulManager -->
    <img src="images/Logo.png" width="215" heigth="30" alt="ModulManager">
    <button id="navimovedown" onClick="javascript:show_navi();" style="display:none;">Navigation anzeigen</button>
    <div id="navi_optional">
      <div id="minihelp">
        <h2>Kurzanleitung</h2>
        <p>Ziehen Sie Module von der rechten Spalte in die momentane Auswahl in der Mitte. In der linken Spalte oder an Modulen selbst wird angezeigt, ob die entspr. Bedingungen erfüllt sind.</p>
        <p>Über diese Ampel-Icons gelangen Sie auch zu ausführlicheren Informationen über den Bereich oder das Modul, und können Ausnahme-Regelungen vornehmen.</p>
        <h2>Icons</h2>
        <table border="0" cellspacing="4" width="100%">
          <tr>
            <td cellspan="2"><strong>Modul-Typen:</strong></td>
          </tr>
          <tr>
            <td>Pflicht-Modul</td>
            <td><img src='images/Pflicht.png'></td>
          </tr>
          <tr>
            <td>Wahlpflicht-Modul</td>
            <td><img src='images/Wahlpflicht.png'></td>
          </tr>
          <!-- ><tr>
											<td>Wahl-Modul</td>
											<td><img src='images/Pflicht.png'></td>
										</tr> -->
          <tr>
            <td cellspan="2"><strong>Schaltflächen:</strong></td>
          </tr>
          <tr>
            <td>Informationen zu dem jeweiligen Modul</td>
            <td><img src='images/Fragezeichen.png'></td>
          </tr>
          <tr>
            <td>Informationen und ggf. Optionen, Bedingungen erfüllt</td>
            <td><img src='images/iPunkt.png'></td>
          </tr>
          <tr>
            <td>Informationen und ggf. Optionen, Bedingungen erfüllt aber Note noch nicht eingetragen</td>
            <td><img src='images/iPunktGelb.png'></td>
          </tr>
          <tr>
            <td>Informationen und ggf. Optionen, Bedingungen nicht erfüllt</td>
            <td><img src='images/Ausrufezeichen.png'></td>
          </tr>
          <!-- <tr>
											<td>Modul löschen</td>
											<td><img src='images/Loeschen.png'></td>
										</tr> -->
        </table>
      </div>
      <p>Herzlich Willkommen zum ModulManager!</p>
      <p>Momentane Einstellungen:
      <ul>
        <li>Schwerpunkt: <strong><%= @schwerpunkt %></strong></li>
        <li>Prüfungsordnungs-Version: <strong><%= @version.name %></strong></li>
      </ul>
      <p>Navigation zu anderen ModulManager-Seiten:</p>

      <ul id="subnavi-ul">
        <%= link_to "<li>Zurück zur Schwerpunkt- und Prüfungsordnungs-Auswahl</li>", :action => "start" %>
        <%= link_to "<li>Hilfe</li>", :action => "help" %>
        <%= link_to "<li>Speichern und Drucken</li>", :action => "export" %>
        <div class="clear"></div>
      <!-- </ul> -->

      <!-- <p>Unten können Sie Module per Drag&amp;Drop von den zur Verfügung stehenden Modulen in das gewünschte Semester ziehen.</p> -->
    </div>
    <button id="navimoveup" onClick="javascript:hide_navi();">Navigation ausblenden</button>

  </div>

  <!-- CONTENT -->

  <div id="content">
    <div id="left">
      <%#*<h2>&Uuml;berblick:</h2>%>


      <div id="ueberblick">
        <div id="ueberblick_baum">
        </div>
        <p>
        <table>
          <tbody>
            <tr>
              <td><strong>Note:</strong></td>
              <td id="die_note"></td>
            </tr>
          </tbody>
        </table>

        </p>
        <p id='note_berechnen'>Note aktualisieren</p>
      </div>

    </div>

    <!--middle-->

    <div id="middle">

      <h2>Momentane Auswahl:</h2>


      <div id="semester-content">


        <!--<div class="semester" id="1">
                                  		<h5>1.Semester</h5>
                                  		<span class="leer" style="display:none">(leer)</span>
                                  	</div>-->



      </div>
      <button id="semesterhinzu" onClick="javascript:sem_hinzu();"> Semester hinzuf&uuml;gen</button>
      <div id="voratbox">
        <h1>BOX</h1>

      </div>

    </div><!--End middle-->


    <!--RIGHT****************************************************-->

    <div id="right">


      <!--hier ist POOL und SUCHEN************************************-->


      <h2>Zur Verf&uuml;gung stehende Module:</h2>
      <div id="suche_bereich">
        <table id="suche" style="border:2px red solid; display:none">
          <tbody></tbody>
        </table>
        <!--<button id="click_to_find2" onClick="javascript:modul_search()">Los!</button>-->
      </div>



      <div id="subright-content">

        <div id="pool">


        </div>


        <script type="text/javascript">
          pool();
        </script>

      </div><!--subright-->

    </div><!--right-->



  </div><!--END content-->

  <div class="clear"></div>


</div><!--content-->

<div id="custom_dialog" title="Eigenes Modul">
  <p id="validateTips">Tragen Sie bitte die Daten ein!</p>
  <form>
    <fieldset>
      <label for="name">Name</label>
      <input type="text" name="name" id="name" class="text ui-widget-content ui-corner-all" />
      <label for="credit">Credit Point</label>
      <input type="text" name="credit" id="credit" value="" class="text ui-widget-content ui-corner-all" />

      <input type="hidden" name="custom_semester" id="custom_semester" value=""  />
      <input type="hidden" name="custom_id" id="custom_id" value=""  />

    </fieldset>
  </form>
</div>



</div>

<div id="info_box" title="Info-Box">
  <div id="box_info"></div>
  <div id="box_info_pool" style="color:gray;" >Ausnahme-Optionen: Nur verf&uuml;gbar wenn das Modul schon in der Auswahl ist.</div>
  <div id="box_info_exception">
		Ausnahme-Optionen:
    <table>
      <tbody>
        <tr><td>Credit-Zahl:</td><td><input type="text" id="exception_credit" size="5" maxlength="5" value="Note"/></td></tr>
        <tr><td>Warnung deaktivieren</td><td><input type="checkbox" id="exception_warn"></td></tr>
        <tr><td>Note streichen</td><td><input type="checkbox" id="exception_node"></td></tr>
      </tbody>
    </table>

  </div>
  <div id="box_info_overview"></div>

</div>


</div><!--END container-->
<div class="clear"></div>
<input id="enter_trick" type="text" style="display:none"/>
<br/><br/>

<!--<div id="footer">
                footer
</div>-->







