


<!--<table id="search_table" style="border:1px solid black"></table>-->



<div id="container">


  <div id="subnavi">
    <!-- so lange noch getestet wird (OS) <img src="images/Logo.png" width="215" height="30" alt="ModulManager"> -->
    <img src="images/Logo-beta.png" width="252" height="30" alt="ModulManager">

    <a id="navimovedown" onClick="javascript:show_navi();" style="display:none;"><img width='20' height='20' src="images/Eject.png" style="margin-right:4px;">Navigation anzeigen</a>
	<a id="navimoveup" onClick="javascript:hide_navi();"><img width='20' height='20' src="images/Eject.png" style="margin-right:4px;">Navigation ausblenden</a>
	
    <div id="navi_optional">
	  <a id="helpmovedown" onClick="javascript:show_minihelp();"><img width='20' height='20' id="GetStartedImage" src="images/GetStarted.png" style="margin-right:4px;">Kurze Einführung gefällig?</a>
	<div id="help_optional" style="display:none;">
      <p>Herzlich Willkommen zum ModulManager! Wie wäre es mit einem kurzen Einführungs-Video? (Prototyp!)</p>

      <div id="minihelp">
        <h2>Kurzanleitung</h2>
        <p>Ziehen Sie Module von der rechten Spalte in die momentane Auswahl in der Mitte. In der linken Spalte oder an Modulen selbst wird angezeigt, ob die entspr. Bedingungen erfüllt sind.</p>
        <p>Über diese Ampel-Icons gelangen Sie auch zu ausführlicheren Informationen über den Bereich oder das Modul, und können Ausnahme-Regelungen vornehmen.</p>
        <!-- <h2>Icons</h2> -->
        <table border="0" cellspacing="4" width="100%">
          <tr>
            <td cellspan="2"><strong>Modul-Typen:</strong></td>
          </tr>
          <tr>
            <td><img width='20' height='20' src='images/Pflicht.png'></td>
            <td>Pflicht-Modul</td>
          </tr>
          <tr>
            <td><img width='20' height='20' src='images/Wahlpflicht.png'></td>
            <td>Wahlpflicht-Modul</td>
          </tr>
          <!-- <tr>
          	<td><img width='20' height='20' src='images/Pflicht.png'></td>
          	<td>Wahl-Modul</td>
          </tr> -->
          <tr>
            <td cellspan="2"><strong>Schaltflächen:</strong></td>
          </tr>
          <tr>
            <td><img width='20' height='20' src='images/Fragezeichen.png'></td>
            <td>Informationen zu dem jeweiligen Modul</td>
          </tr>
          <tr>
            <td><img width='20' height='20' src='images/iPunkt.png'></td>
            <td>Informationen und ggf. Optionen, Bedingungen erfüllt</td>
          </tr>
          <tr>
            <td><img width='20' height='20' src='images/iPunktGelb.png'></td>
            <td>Informationen und ggf. Optionen, Bedingungen erfüllt aber Note noch nicht eingetragen</td>
          </tr>
          <tr>
            <td><img width='20' height='20' src='images/Ausrufezeichen.png'></td>
            <td>Informationen und ggf. Optionen, Bedingungen nicht erfüllt</td>
          </tr>
        </table>
      </div>

		<!-- VZAAR START -->
		<div class="vzaar_media_player">
		  <object id="video" width="590" height="338" type="application/x-shockwave-flash" data="http://view.vzaar.com/241471.flashplayer">
		    <param name="movie" value="http://view.vzaar.com/241471.flashplayer">	
		    <param name="allowScriptAccess" value="always">
		    <param name="allowFullScreen" value="true">
		    <param name="movie" value="http://view.vzaar.com/241471.flashplayer">
		    <param name="wmode" value="transparent">
		    <param name="flashvars" value="">
		    <embed src="http://view.vzaar.com/241471.flashplayer" type="application/x-shockwave-flash" wmode="transparent" width="590" height="338" allowScriptAccess="always" allowFullScreen="true" flashvars=""></embed>
		    <video width="576" height="324" src="http://view.vzaar.com/241471.mobile" poster="http://view.vzaar.com/241471.image" controls></video>
		  </object>
		</div>
		<!-- VZAAR END -->
	</div>

      <p>Momentan gewählte Einstellungen:
      <ul>
        <li>Schwerpunkt: <strong><%= @schwerpunkt %></strong></li>
        <li>Prüfungsordnungs-Version: <strong><%= @version.name %></strong></li>
      </ul>
	<p>Schriftgrösse ändern:<br>
		<a onClick="javascript:font_size(10);"><img width='20' height='20' alt="10px" style="cursor:pointer;" src="images/FontSize-Small.png"></a>
		<a onClick="javascript:font_size(12);"><img width='20' height='20' alt="12px" style="cursor:pointer;" src="images/FontSize-Medium.png"></a>
		<a onClick="javascript:font_size(14);"><img width='20' height='20' alt="14px" style="cursor:pointer;" src="images/FontSize-Large.png"></a>

<% if $DebugMode %>		
		<p>Debug: <a onClick="javascript:display_cache();" style="cursor:pointer;text-decoration:underline;">Modul-Cache anzeigen</a></p>
<% end %>

	  <!-- Zum Testen (OS) -->
	  <p>Liebe ModulManager-Tester: Bitte senden Sie ihre Meinung über den ModulManager und evtl. Fehlerberichte per <a href="mailto:olav.stetter@adiungi.com" style="cursor:pointer;text-decoration:underline;">e-Mail an uns</a>. Vielen Dank!</p>
		
      <p>Navigation zu anderen ModulManager-Seiten:</p>

      <ul id="subnavi-ul">
        <%= link_to "<li>Zurück zur Schwerpunkt- und Prüfungsordnungs-Auswahl</li>", :action => "start" %>
        <%= link_to "<li>Oft gestellte Fragen (FAQ)</li>", :action => "help" %>
        <%= link_to "<li>Speichern und Drucken</li>", :action => "export" %>
      </ul>


        <div class="clear"></div>
	</div>
	</div>
      <!-- <p>Unten können Sie Module per Drag&amp;Drop von den zur Verfügung stehenden Modulen in das gewünschte Semester ziehen.</p> -->
  <div id="pleasewait">
        <img width='16' height='16' src="images/Warten-HintergrundGrau.gif">
        Bitte warten, der Modulmanager wird geladen...
  </div>
  <div id="shadowbar">
        &nbsp;
  </div>


  <!-- CONTENT -->

  <div id="content">
    <div id="left">
      <%#*<h2>&Uuml;berblick:</h2>%>


      <div id="ueberblick">
        <div id="ueberblick_baum">
			<img id="ueberblick-wird-aktualisiert" src="images/Warten-HintergrundWeiss.gif" style="float:right;" alt="Lade...">
			<h2>&Uuml;berblick:</h2>
        </div>
        <p>
        <table>
          <tbody>
            <tr>
              <td><strong>Note (hochgerechnet):</strong></td>
              <td id="die_note">?</td>
            </tr>
          </tbody>
        </table>

        <p id='note_berechnen'></p>
      </div>

    </div>

    <!--middle-->

    <div id="middle">

      <h2>Momentane Auswahl:</h2>


      <div id="semester-content">


        <!--<div class="semester" id="1">
                                                  <h5>1.Semester</h5>
                                                  <span class="leer" style="display:none">(leer)</span>
                                          </div>-->




      </div>
     <a id="semesterhinzu" onClick="javascript:sem_hinzu();"> Semester hinzuf&uuml;gen</a>

         <div id="semesterBOX" >

              <div id="0" class="semester" style="margin-top:10px;">
               <h5>Vorratsbox (Module werden nicht einberechnet)</h5>
               <div class="subsemester">

                   </div>
              </div>
         </div>

          <div id="error_table" style="display:none"></div>
    </div><!--End middle-->


    <!--RIGHT****************************************************-->

    <div id="right">


      <!--hier ist POOL und SUCHEN************************************-->


      <h2>Zur Verf&uuml;gung stehende Module:
		<img width='20' height='20' id="pool-pin-passiv" src="images/Pin-Passiv.png" alt="Modul-Pool fixieren" onClick="javascript:change_fixation('pool an');">
		<img width='20' height='20' id="pool-pin-aktiv" src="images/Pin-Aktiv.png" alt="Modul-Pool nicht mehr fixieren" style="display:none;" onClick="javascript:change_fixation('pool aus');">
	  </h2>

      <div id="suche_bereich">
        <table id="suche" style="border:2px red solid; display:none">
          <tbody></tbody>
        </table>
        <!--<button id="click_to_find2" onClick="javascript:modul_search()">Los!</button>-->
      </div>



      <div id="subright-content">

        <div id="pool" class="pool_category">


        </div>


        <script type="text/javascript">
          pool();
        </script>

      </div><!--subright-->

    </div><!--right-->



  </div><!--END content-->

  <div class="clear"></div>


<!--content-->

<div id="info_box" title="Info-Box">
  <div id="box_info"></div>
  <div id="box_info_pool" style="color:gray;" >Ausnahme-Optionen: Nur bei Modulen in der Auswahl verfügbar.</div>
  <div id="box_info_exception">
    Ausnahme-Optionen:
    <table cellspacing="4">
      <tbody>
        <tr id="credits_aendern_checkbox"><td>Credit-Zahl:</td><td><input type="text" id="exception_credit" size="5" maxlength="5" rel="modul_id" value="Credits"/></td></tr>
        <tr><td>Warnung deaktivieren:</td><td><input type="checkbox" id="exception_warn" name="exception_warn" value="checkbox" /></td></tr>
        <tr id="note_streichen_checkbox"><td>Note streichen:</td><td><input type="checkbox" id="exception_note" name="exception_note" value="checkbox" /></td></tr>
      </tbody>
    </table>
     <!-- <input type="hidden" name="exception_change" id="exception_change" value="false"  />
          <input type="hidden" name="credit_exception_change" id="credit_exception_change" value="false"  /> -->
  </div>
  <div id="box_info_overview"></div>
  <div id="box_info_combobox"></div>

</div>


<div id="custom_dialog" title="Eigenes Modul">
  <p id="validateTips">Dieses Modul dient dazu, auch Module aus anderen Fakultäten im ModulManager behandeln zu können. Bitte tragen Sie die entsprechenden Daten ein.</p>
  <form>
    <fieldset>
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" class="text ui-widget-content ui-corner-all">
      <label for="credit">Anzahl der ETCS Punkte:</label>
      <input type="text" name="credit" id="credit" value="" class="text ui-widget-content ui-corner-all">
      <!-- <div id="note_streichen">
      	      <p>Bitte wählen Sie aus, welche Eigenschaften dieses Modul hat:<br>
      	      <input type="checkbox" name="note_checkbox" id="note_checkbox" value="checkbox" style='display:inline'> Modul ist unbenotet</p>
            </div> -->
      <div id="hat_note">
	      <p>Bitte wählen Sie aus, welche Eigenschaften dieses Modul hat:<br>
	      <input type="checkbox" name="note_checkbox" id="hat_note_checkbox" value="checkbox" style='display:inline'> Modul ist unbenotet</p>
      </div>
      <p><label for="category_id">Bitte wählen Sie aus, in welche Kategorien dieses Modul einzubringen ist. Falls Sie nichts auswählen, wird automatisch die nur die Kategorie gewählt, aus der Sie das Modul gezogen haben.</label>
      <div id="dummy_checkbox"></div>
	</p>

     <!-- <select id="category_id" name="category_id">
        <%= options_from_collection_for_select(@categories, :id, :option_name, nil) %>
      </select>
        -->
      <input type="hidden" name="custom_semester" id="custom_semester" value=""  />
      <input type="hidden" name="custom_id" id="custom_id" value=""  />
      <input type="hidden" name="custom_cat_id" id="custom_cat_id" value=""  />
      <!-- <input type="hidden" name="custom_exception_change" id="custom_cat_id" value="false"  /> -->

    </fieldset>
  </form>
</div>



<!--END container-->
<div class="clear"></div>
<input id="enter_trick" type="text" style="display:none"/>
<div id="error_table" style="display:none"></div>
<br/><br/>

<!--<div id="footer">
                footer
</div>-->
<% if $DebugMode %>
<div id="CacheDump" title="CacheDump" style="clear:both;"></div>
<% end %>

