<% if @deprecated_modules.length > 0 %>
  <p>Folgende Module sind in der neuen PO entweder nicht oder nur in ver채nderter Form vorhanden und werden daher nicht 체bernommen:</p>
  <ul>
    <% @deprecated_modules.each do |m| %>
      <li>
        <p>Name:    <%= m[:name] %></p>
        <p>K체rzel:  <%= m[:short] %></p>
        <p>Credits: <%= m[:credits] %></p>
        <p>Note:    <%= m[:grade] %></p>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Es wurden keine Konflikte zu anderen Pr체fungsordnungen gefunden.</p>
<% end %>

<% form_tag :action => "index" do %>
  <p>
    <%= submit_tag "Zur Hauptanwendung" %>
  </p>
<% end %>