<div id="content">
  <!-- <img id="unilogo" src="/images/uni-logo.png" alt="Universität"> -->
  <h1>ModulManager</h1>

  <div id="javascriptdoesnotwork" class="alert alert-error">
    <img src="images/Ausrufezeichen.png" style="float:right;padding:5px;">
		Achtung: Diese Seite benötigt JavaScript. Bitte aktivieren Sie JavaScript in Ihrem Browser, um den ModulManager benutzen zu können.
  </div>

  <p>Herzlich Willkommen zum ModulManager der Fakultät Physik der Universität Göttingen!
    Wir hoffen, er kann Ihnen behilflich sein.</p>
  <p>Wir bemühen uns, die im ModulManager dargestellten Informationen ständig auf dem neuesten Stand zu halten. Bitte beachten Sie dennoch, dass die Prüfungsordnung selbst das einzig rechtsverbindliche Dokument ist.</p>
  
  <% selection = current_selection %>

  <h2>Bitte wählen Sie aus</h2>
  <p>Die Schwerpunkte <i>Nanostrukturphysik</i> und <i>Physikinformatik</i> sind als berufsqualifizierende Bachelor-Abschlüsse konzipiert. Es wird dringend empfohlen, sich bei Wahl einer dieser Schwerpunkte direkt an die Studienberatung der Fakultät für Physik zu wenden.</p>
  
	<% unless @new_session===true %>
		<p class="alert alert-info">Bitte beachten Sie, dass Sie bei einer Veränderung der Einstellungen unten wieder mit der Standard-Auswahl der Studienordnung beginnen - evtl. vorgenommene Modifikationen gehen also verloren.</p>
	<% end %>

  <div id="pruefungsordnung">
    <form class="form-horizontal">
      <div class="control-group">
        <label class="control-label">Prüfungsordnung</label>
        <div class="controls">
          <% Version.all.each do |po| %>
            <label class="radio">
              <input type="radio" name="PORadios" id='<%= po.id %>' value="option1" <%= "checked" if selection.version.id == po.id %> >
              <%= po.name %>
            </label>
          <% end %>
        </div>
      </div>
    </form>
  </div>
  
  <div id="schwerpunkt">
    <% Version.find(:all).each do |po| %>
		<div class="SPsubclass" id="<%= "belongstoPOid"+po.id.to_s %>" <%= "style='display:none;'" unless po.id==selection.version.id %> >
      <form class="form-horizontal">
        <div class="control-group">
          <label class="control-label">Schwerpunkt</label>
          <div class="controls">
            <label class="radio">
              <input type="radio" name="SPRadios" id="-1" value="option1" <%= "checked" if @mein_schwerpunkt == nil %> >
              Kein Schwerpunkt
            </label>
            <% po.foci.each do |s| %>
              <label class="radio">
                <input type="radio" name="SPRadios" id='<%= s.id %>' value="option1" <%= "checked" if @mein_schwerpunkt and @mein_schwerpunkt.id == s.id %> >
                <%= s.name %>
              </label>
            <% end %>
          </div>
        </div>
      </form>
		</div>
    <% end %>
  </div>

  <div id="bestaetigen">
  	<%= link_to "ModulManager starten", {:action => "index"}, :class => "btn btn-large btn-success" %>
  	<%= image_tag "/images/Warten-HintergrundGrau.gif", :id => "serverwait", :alt => "warten..." %>
  </div>

  <!-- <div class="clear">&nbsp;</div> -->
  <legend>&nbsp;</legend>
  <p>Alternativ dazu können Sie eine von Ihnen 
<%= link_to "gespeicherte Modul-Kombination importieren", :action => "import" %>.</p>
  <p><%= link_to "Impressum und unsere Erklärung zum Datenschutz", :action => "impressum" %></p>
  
</div>
