
<div id="content">
  <h3>Modul-Manager der Fakultät Physik</h3>

  <div id="schwerpunkt">
		Bitte Schwerpunkt auswählen:<br/>
	<% selection = current_selection %>
	<ul>
		<% (selection.focus == nil) ? highlight_color = "#d8eef7" : highlight_color = "white" %>
		<a href="#" onClick='javascript:update_schwerpunkt(-1);'><li class="schwerpunkt_oben" style='background-color: <%= highlight_color %>;' id="-1" >Kein Schwerpunkt</li></a>
	  	<% @schwerpunkte.each do |s| %>
			<% (selection.focus == s.id) ? highlight_color = "#d8eef7" : highlight_color = "white" %>
			<a href="#" onClick='javascript:update_schwerpunkt(<%= s.id %>);'>
				<li class="schwerpunkt_oben" style='background-color: <%= highlight_color %>;' id='<%= s.id %>'>
				<%= s.name %>
				</li>
			</a>
		<% end %>
	</ul>
  </div>

  <div id="pruefungsordnung">
	Bitte Prüfungsordnung auswählen:<br/>
	<ul>
	  	<% Version.all.each do |po| %>
			<% (selection.version.id == po.id) ? highlight_color = "#d8eef7" : highlight_color = "white" %>
			<a href="#" onClick='javascript:update_pordnung(<%= po.id %>);'>
				<li class="pruefungsordnung" style='background-color: <%= highlight_color %>;' id='<%= po.id %>'>
					<%= po.name %>
				</li>
			</a>
		<% end %>
	</ul>
  </div>


  <div id ="bestaetigen">
				Alternativ können Sie eine von Ihnen 
    <%= link_to "gespeicherte Modul-Kombination importieren", :action => "import" %>.<br/>

    <%= link_to "<button>OK</button>", :action => "create_selection" %>
    <%= link_to("<button>Zurück</button>", :action => "index" ) unless session[:selection_id] == nil %>
    <div class="clear">&nbsp;</div>
  </div>

</div>

