
<div id="content">
  <h3>Modul-Manager der Fakult&auml;t Physik</h3>
			Bitte Schwerpunkt auswählen:<br/>

  <div id="schwerpunkt">
	<% selection = current_selection %>
	<ul>
		<% (selection.focus == nil) ? highlight_color = "#d8eef7" : highlight_color = "white" %>
		<a href="#" onClick="javascript:update_schwerpunkt(nil);"><li class="schwerpunkt_oben" style='background-color: <%= highlight_color %>;' id="nil" >Kein Schwerpunkt</li></a>
	  	<% @schwerpunkte.each do |s| %>
			<% (selection.focus == s.id) ? highlight_color = "#d8eef7" : highlight_color = "white" %>
			<a href="#" onClick='javascript:update_schwerpunkt(<%= s.id %>);'>
				<li class="schwerpunkt_oben" style='background-color: <%= highlight_color %>;' id='<%= s.id %>'>
				<%= s.name %>
				</li>
			</a>
		<% end %>
	</ul>
  </div>


  <div id="pruefungsordnung">
				Aktuell ausgewählte Pr&uuml;fungsordnung: <strong><span id="version"><%= @version.name %></span></strong><br/>
    <% form_remote_tag :update => "version", :url => { :action => "version_selection" } do %>
      <%= select_tag :version, options_from_collection_for_select(Version.all, "id", "short", @version) %>
      <%= submit_tag "Speichern" %>
    <% end %>
  </div>


  <div id ="bestaetigen">
				Alternative k&ouml;nnen Sie eine von Ihnen 
    <%= link_to "gespeicherte Modul-Kombination importieren", :action => "import" %>.<br/>
    <%= link_to "<div class='buttons'>OK</div>", :action => "create_selection" %>
    <%#= link_to("<div class='buttons'>Zurück</div>", :url => { :action => "index" }) unless session[:selection_id] == nil %>
    <div class="clear">&nbsp;</div>
  </div>

</div>

