
<div id="content">
  <h3>Modul-Manager der Fakultät Physik</h3>

	<div id="javascriptdoesnotwork">
		<img src="images/Ausrufezeichen.png" style="float:right;padding:5px;">
		Achtung: Diese Seite benötigt JavaScript. Bitte aktivieren Sie JavaScript in Ihrem Browser, um den ModulManager benutzen zu können.
	</div>
	
	<p>Herzlich Willkommen!</p>

  <div id="schwerpunkt">
		Bitte Schwerpunkt auswählen:<br/>
		(Bitte beachten: Die Schwerpunkte <i>Nanostrukturphysik</i> und <i>Physikinformatik</i> sind als berufsqualifizierende Bachelor-Abschlüsse konzipiert. Es wird dringend empfohlen, sich bei Wahl einer dieser Schwerpunkte direkt an die Studienberatung der Fakultät Physik zu wenden.)
		
    <% selection = current_selection %>
    <ul>
      <% (@mein_schwerpunkt == nil) ? class_tag = "active" : class_tag = "passive" %>
      <a onClick='javascript:update_schwerpunkt(-1);'>
        <li class='schwerpunkt_oben <%= class_tag %>' id="-1" >Kein Schwerpunkt</li>
      </a>
      <% @schwerpunkte.each do |s| %>
        <% class_tag = "passive" %>
        <% ((@mein_schwerpunkt.id == s.id) ? class_tag = "active" : class_tag = "passive") unless @mein_schwerpunkt == nil %>
        <a onClick='javascript:update_schwerpunkt(<%= s.id %>);'>
          <li class='schwerpunkt_oben <%= class_tag %>' id='<%= s.id %>'>
            <%= s.name %>
          </li>
        </a>
      <% end %>
    </ul>
  </div>

  <div id="pruefungsordnung">
	Bitte Prüfungsordnung auswählen:<br/>
    <ul>
      <% Version.all.each do |po| %>
        <% (selection.version.id == po.id) ? class_tag = "active" : class_tag = "passive" %>
        <a onClick='javascript:update_pordnung(<%= po.id %>);'>
          <li class='pruefungsordnung <%= class_tag %>' id='<%= po.id %>'>
            <%= po.name %>
          </li>
        </a>
      <% end %>
    </ul>
  </div>


  <div id ="bestaetigen">
				Alternativ können Sie eine von Ihnen 
    <%= link_to "gespeicherte Modul-Kombination importieren", :action => "import" %>.<br/>
<p>Wir bemühen uns, die im ModulManager dargestellten Information ständig auf dem neuesten Stand zu halten. Bitte beachten Sie dennoch, dass die Prüfungsordnung selbst das einzig rechtsverbindliche Dokument ist.</p>

   <%= link_to "OK", {:action => "create_selection"}, :class => "linkbutton" %>

   <% unless @mein_schwerpunkt == nil %>
   <%= link_to "Zurück", {:action => "index"}, :class => "linkbutton" %>
   <% end %>
    <div class="clear">&nbsp;</div>
  </div>

</div>

