
<div id="content">
  <h3>Modul-Manager der Fakultät Physik</h3>

  <div id="schwerpunkt">
		Bitte Schwerpunkt auswählen:<br/>
    <% selection = current_selection %>
    <ul>
      <% (@mein_schwerpunkt == nil) ? class_tag = "active" : class_tag = "passive" %>
      <a onClick='javascript:update_schwerpunkt(-1);'>
        <li class='schwerpunkt_oben <%= class_tag %>' id="-1" >Kein Schwerpunkt</li>
      </a>
      <% @schwerpunkte.each do |s| %>
        <% class_tag = "passive" %>
        <% ((@mein_schwerpunkt.id == s.id) ? class_tag = "active" : class_tag = "passive") unless @mein_schwerpunkt == nil %>
        <a onClick='javascript:update_schwerpunkt(<%= s.id %>);'>
          <li class='schwerpunkt_oben <%= class_tag %>' id='<%= s.id %>'>
            <%= s.name %>
          </li>
        </a>
      <% end %>
    </ul>
  </div>

  <div id="pruefungsordnung">
	Bitte Prüfungsordnung auswählen:<br/>
    <ul>
      <% Version.all.each do |po| %>
        <% (selection.version.id == po.id) ? class_tag = "active" : class_tag = "passive" %>
        <a onClick='javascript:update_pordnung(<%= po.id %>);'>
          <li class='pruefungsordnung <%= class_tag %>' id='<%= po.id %>'>
            <%= po.name %>
          </li>
        </a>
      <% end %>
    </ul>
  </div>


  <div id ="bestaetigen">
				Alternativ können Sie eine von Ihnen 
    <%= link_to "gespeicherte Modul-Kombination importieren", :action => "import" %>.<br/>

    <%= link_to "<button>OK</button>", :action => "create_selection" %>
    <!-- funktioniert nicht, s. Bug Nr. 4 (OS) -->
    <% unless @mein_schwerpunkt == nil %>
    <%= link_to("<button>Zurück</button>", :action => "index" ) %>
    <% end %>
    <div class="clear">&nbsp;</div>
  </div>

</div>

