<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title></title>
<meta name="author" content="quan">
<meta name="editor" content="html-editor phase 5">
<%= stylesheet_link_tag 'start' %>

<script type="text/javascript" src="javascripts/start.js"></script>

</head>
<body text="#000000" bgcolor="#FFFFFF" link="#FF0000" alink="#FF0000" vlink="#FF0000">
	
		<div id="content">
			<h3>Modul-Manager der Fakult&auml;t Physik</h3>
			Bitte Schwerpunkt auswählen:<br/>
			
			<div id="schwerpunkt">
				<ul>
                                  <% i = 0 %>
                                  <% @schwerpunkte.each do |s| %>
                                    <% i += 1 %>
                                    <li class="schwerpunk_oben"><%= link_to_remote s.name, :update => "schwerpunkt", :url => { :action => "focus_selection", :id => s.id }  %></li>
                                    <%= "<div class='clear'>&nbsp;</div>" if i % 3 == 0 %>
                                  <% end %>
					<%#*<li class="schwerpunk_oben">Physik(Allgemein)</li>%>
					<%#*<li class="schwerpunk_oben">Astrophysik</li>%>
					<%#*<li class="schwerpunk_oben">Festk&ouml;rper-Physik</li>%>
					<%#*<div class="clear">&nbsp</div>%>
					<%#*<li class="schwerpunk_unten">Nanophysik</li>%>
					<%#*<li class="schwerpunk_unten">Biophysik</li>%>
					<%#*<li class="schwerpunk_unten">Statistische Physik</li>%>
					<%#*<div class="clear">&nbsp</div>%>
				</ul>
			</div><!--Ende Schwerpunkt-->	
			
			
			<div id="pruefungsordnung"> 
				Bitte w&auml;hlen Sie die f&uuml;r Sie g&uuml;ltige Version der Pr&uuml;fungsordnung aus:<br/>
				<select>
					<option>Version vom 12.12.1995(aktuell)</option>
					<option>Alte Version</option>
				</select>
			</div>
			
			
			<div id ="footer">
				Alternative k&ouml;nnen Sie eine von Ihnen 
				<a href="#">gespeicherte Modul-Kombination importieren</a>.<br/>
				<%= link_to "<div class='foo'>OK</div>", :action => "create_selection" %>
				<%= link_to("<div class='foo'>Zurück</div>", :url => { :action => "index" }) unless session[:selection_id] == nil %>
				<div class="clear">&nbsp</div>
			</div>
			
		</div><!--ende content-->
	
	
	

</body>
</html>