<div id="content">
	<h1>Database-Tables cleared</h1>

	<p>Destroyed <%= @rules %> rules...</p>
	<p>Destroyed <%= @groups %> groups...</p>
	<p>Destroyed <%= @foci %> foci...</p>
	<p>Destroyed <%= @modules %> modules...</p>
	<p>Destroyed <%= @sessions %> sessions...</p>

	<p><%= link_to "Read data from configuration files...", :action => "start" %></p>
</div>
