<div id="content">
  <h1>Parsing completed.</h1>
  <p>Created <%= @connections %> connections.</p>
  <p>Created <%= @rules %> rules.</p>
  <p>Created <%= @groups %> groups.</p>
  <p>Created <%= @foci %> foci.</p>
  <p>Created <%= @modules %> modules.</p> 

  <p><%= link_to "Clear database tables", :action => "clear" %></p>
</div>
