<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>


    <meta name="token" id="token" content="<%= form_authenticity_token %>" />
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>ModulManager</title>

    <%= stylesheet_link_tag 'global' %>
    <%= stylesheet_link_tag 'rest' %>
    <%= stylesheet_link_tag 'dropshadow' %>

	<script type="text/javascript">
	// Google Analytics
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	try {
	var pageTracker = _gat._getTracker("UA-15469313-1");
	pageTracker._trackPageview();
	} catch(err) {}</script>

  </head>
  <body>

	<!-- wrappers for dropshadow elements (OS) -->
	<div id="content-wrapper">
	 <div class="wrap1">
	  <div class="wrap2">
	   <div class="wrap3">
		
		<%= yield %>
		
	   </div>
	  </div>
	 </div>
	</div>
	
  </body>
</html>
